<html>
<head>
    <meta charset="utf-8">
    <title>인덱스</title>
</head>
<body>
    <div class="header">
        <nav>
            <ul class="nav">
                <li>
                    <a href="/">index</a>
                </li>
                <li>
                    <a href="/views/data-type.html">typescript의 타입</a>
                </li>
                <li>
                    <a href="/views/class.html">typescript의 class</a>
                </li>
                <li>
                    <a href="/views/interface.html">typescript의 interface</a>
                </li>
                <li>
                    <a href="/views/databinding.html">data binding</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>